/RayTracingGPU/*.suo
/RayTracingGPU/ipch
/RayTracingGPU/RayTracingGPU.sdf
/RayTracingGPU/GLTools/Debug
/RayTracingGPU/GLTools/GLTools.vcxproj.user
/RayTracingGPU/RayTracingGPU/Debug
/RayTracingGPU/RayTracingGPU/RayTracingGPU.vcxproj.user
/RayTracingGPU/bin/Debug/RayTracingGPU.pdb
/RayTracingGPU/bin/Debug/RayTracingGPU.exp
/RayTracingGPU/bin/Debug/RayTracingGPU.ilk
/RayTracingGPU/bin/Debug/RayTracingGPU.lib
/RayTracingGPU/RayTracingGPU.opensdf
/RayTracingGPU/bin/Release/RayTracingGPU.exp
/RayTracingGPU/bin/Release/RayTracingGPU.lib
/RayTracingGPU/bin/Release/RayTracingGPU.pdb
/RayTracingGPU/RayTracingGPU/Release
/RayTracingGPU/GLTools/Release
/RayTracingGPU/bin/Debug/RaportImages
/RayTracingGPU/bin/Debug/test.png
/RayTracingGPU/bin/Debug/Raport SceneConfig.csv
/RayTracingGPU/RayTracingTester/obj
/RayTracingGPU/RayTracingTester/bin/Debug/RayTracingTester.pdb
/RayTracingGPU/RayTracingTester/bin/Debug/RayTracingTester.vshost.exe
/RayTracingGPU/RayTracingTester/bin/Debug/RayTracingTester.vshost.exe.config
/RayTracingGPU/RayTracingTester/bin/Debug/RayTracingTester.vshost.exe.manifest
/RayTracingGPU/RayTracingTester/bin/Release/RayTracingTester.vshost.exe
/RayTracingGPU/RayTracingTester/bin/Release/RayTracingTester.vshost.exe.config
/RayTracingGPU/RayTracingTester/bin/Release/RayTracingTester.vshost.exe.manifest
/RayTracingGPU/RayTracingTester/bin/RayTracingTester.pdb
/RayTracingGPU/RayTracingTester/bin/RayTracingTester.vshost.exe
