<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
	  <add key="RayTracerFilePath" value="C:\Users\Mateusz\Desktop\mgr\proj\Qt\git\RayTracingGPU\bin\Debug\RayTracingGPU.exe"/>
	  <add key="RayTracerFilePath1" value="C:\Users\Mateusz\Desktop\mgr\proj\Qt\git\RayTracingGPU\bin\Release\RayTracingGPU.exe"/>
	  
	  <add key="SceneConfigFilePath" value="C:\Users\Mateusz\Desktop\mgr\proj\Qt\git\RayTracingGPU\RayTracingGPU\SceneConfig-Dolphins.json"/>
  </appSettings>
</configuration>